
body
{
text-align: center;
font-family: cursive;

}
p { 
    margin-bottom: 20px;
    
}

body{
    font-family:'Courier New', Courier, monospace;
}

body {background-color:#a700e9}
    #blog{
        /*width: 70%;*/
        /*height: 50%;*/
        margin: 0px auto;
        border: 0px solid rgb(98, 0, 255);
        width: 250px;
        background-attachment: fixed;
    }
    #icono{ 
        background-position: center;
        background-size: cover;
        height: 200px; ;
        
        color: rgb(247, 0, 0);
        
    }
    section{
        text-decoration: underline none;
    }
    link{
        
    }
    article{
       font-size: 30px;
       
       
        
    }
    a{
        text-decoration: none;
    }
    footer{
        color: rgb(255, 255, 255);
        font-size: 25px;
    }
   body{ background-image: url(img/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-attachment:fixed ;
    background-repeat: no-repeat;
   background-position: center ;
  background-size: cover;
   }
   .boton {
    background-color: #000000;
    padding: 5px 25px;
    border-radius: 10px;
    border: 3px solid white;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10;

   }
   .boton:hover{
    background-color: rgb(7, 88, 88);

   }
   /*animacion*/
   #icono{
    animation: entradatop 0.7s ease-in-out;
   }

   @keyframes entradatop{
    from{
        transform: translateY(-500px);
        opacity: 0;
        }
        to{
            transform: translateY(0px);
            opacity: 1;
            }
   }